[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "==0.10.0"
pandas = "==0.23.4"
jupyter = "==1.0.0"
awscli = "*"

[dev-packages]

[requires]
python_version = "3.6"
